[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
jupyter = "*"
pytest = "*"
pytest-pylint = "*"

[packages]
fastapi = "*"
sqlalchemy = "*"
typing-extensions = "*"
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3"
